body{
	font-family: 'Microsoft YaHei', sans-serif;
}
.mai-icon{
	background: #40D2B1;
	color: #fff;
	height: 40px;
	width:40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	margin-right: 15px;
}
.wh64{
    width: 64px;
    height: 64px;
    border-radius:50% ;
}
.page-header{
	margin-top: 0;
}
.page-header h1{
     font-size: 16px;
     margin-top: 0;
}
.tag .alert{
     float: left;
     margin: 10px 10px 10px 0;
}
footer{
	padding: 20px;
	text-align: center;
	font-weight: 400;
}